In [60]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [16]:
census_dataset=pd.read_csv('adult.csv')

In [63]:
census_dataset.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,0,77053,11,9,6,0,1,4,0,0,4356,40,39,<=50K
1,82,4,132870,11,9,6,4,1,4,0,0,4356,18,39,<=50K
2,66,0,186061,15,10,6,0,4,2,0,0,4356,40,39,<=50K
3,54,4,140359,5,4,0,7,4,4,0,0,3900,40,39,<=50K
4,41,4,264663,15,10,5,10,3,4,0,0,3900,40,39,<=50K

In [64]:
census_dataset.drop_duplicates(inplace=True)

In [65]:
census_dataset.shape

(32537, 15)

In [66]:
census_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32537 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32537 non-null  int64
 1   workclass       32537 non-null  int64
 2   fnlwgt          32537 non-null  int64
 3   education       32537 non-null  int64
 4   education.num   32537 non-null  int64
 5   marital.status  32537 non-null  int64
 6   occupation      32537 non-null  int64
 7   relationship    32537 non-null  int64
 8   race            32537 non-null  int64
 9   sex             32537 non-null  int64
 10  capital.gain    32537 non-null  int64
 11  capital.loss    32537 non-null  int64
 12  hours.per.week  32537 non-null  int64
 13  native.country  32537 non-null  int64
 14  income          32537 non-null  object
dtypes: int64(14), object(1)
memory usage: 4.0+ MB

In [67]:
census_dataset.describe()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
count,32537.000000,32537.000000,3.253700e+04,32537.000000,32537.000000,32537.000000,32537.000000,32537.000000,32537.000000,32537.000000,32537.000000,32537.000000,32537.000000,32537.000000
mean,38.585549,3.868734,1.897808e+05,10.297507,10.081815,2.611427,6.572856,1.446538,3.665827,0.669238,1078.443741,87.368227,40.440329,36.721579
std,13.637984,1.456445,1.055565e+05,3.870142,2.571633,1.506301,4.229521,1.607064,0.848847,0.470495,7387.957424,403.101833,12.346889,7.820732
min,17.000000,0.000000,1.228500e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,4.000000,1.178270e+05,9.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,0.000000,0.000000,40.000000,39.000000
50%,37.000000,4.000000,1.783560e+05,11.000000,10.000000,2.000000,7.000000,1.000000,4.000000,1.000000,0.000000,0.000000,40.000000,39.000000
75%,48.000000,4.000000,2.369930e+05,12.000000,12.000000,4.000000,10.000000,3.000000,4.000000,1.000000,0.000000,0.000000,45.000000,39.000000
max,90.000000,8.000000,1.484705e+06,15.000000,16.000000,6.000000,14.000000,5.000000,4.000000,1.000000,99999.000000,4356.000000,99.000000,41.000000

In [68]:
census_dataset.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [69]:
census_dataset["relationship"].value_counts()

relationship
0    13187
1     8292
3     5064
4     3445
5     1568
2      981
Name: count, dtype: int64

In [70]:
census_dataset["occupation"].value_counts()

occupation
10    4136
3     4094
4     4065
1     3768
12    3650
8     3291
7     2000
0     1843
14    1597
6     1369
5      992
13     927
11     649
9      147
2        9
Name: count, dtype: int64

In [71]:
census_dataset["sex"].value_counts()

sex
1    21775
0    10762
Name: count, dtype: int64

In [72]:
census_dataset.replace({"sex":{'Female':0,'Male':1}},inplace=True)

In [73]:
from sklearn.preprocessing import LabelEncoder
categorical_features=["education","workclass","marital.status","occupation","relationship","race","native.country"]
numerical_features=["age","fnlwgt","education.num","sex","capital.gain","capital.loss","hours.perweek"]

for column in categorical_features:
    l_enc=LabelEncoder()
    census_dataset[column]=l_enc.fit_transform(census_dataset[column])

In [74]:
census_dataset.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,0,77053,11,9,6,0,1,4,0,0,4356,40,39,<=50K
1,82,4,132870,11,9,6,4,1,4,0,0,4356,18,39,<=50K
2,66,0,186061,15,10,6,0,4,2,0,0,4356,40,39,<=50K
3,54,4,140359,5,4,0,7,4,4,0,0,3900,40,39,<=50K
4,41,4,264663,15,10,5,10,3,4,0,0,3900,40,39,<=50K

In [75]:
X=census_dataset.drop(['income'],axis=1)
Y=census_dataset['income']

In [76]:
print(X)
print(Y)

       age  workclass  fnlwgt  education  education.num  marital.status  \
0       90          0   77053         11              9               6
1       82          4  132870         11              9               6
2       66          0  186061         15             10               6
3       54          4  140359          5              4               0
4       41          4  264663         15             10               5
...    ...        ...     ...        ...            ...             ...
32556   22          4  310152         15             10               4
32557   27          4  257302          7             12               2
32558   40          4  154374         11              9               2
32559   58          4  151910         11              9               6
32560   22          4  201490         11              9               4

       occupation  relationship  race  sex  capital.gain  capital.loss  \
0               0             1     4    0             0          4356
1               4             1     4    0             0          4356
2               0             4     2    0             0          4356
3               7             4     4    0             0          3900
4              10             3     4    0             0          3900
...           ...           ...   ...  ...           ...           ...
32556          11             1     4    1             0             0
32557          13             5     4    0             0             0
32558           7             0     4    1             0             0
32559           1             4     4    0             0             0
32560           1             3     4    1             0             0

       hours.per.week  native.country
0                  40              39
1                  18              39
2                  40              39
3                  40              39
4                  40              39
...               ...             ...
32556              40              39
32557              38              39
32558              40              39
32559              40              39
32560              20              39

[32537 rows x 14 columns]
0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557    <=50K
32558     >50K
32559    <=50K
32560    <=50K
Name: income, Length: 32537, dtype: object

In [77]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=0)

In [82]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X.columns)

X_test = pd.DataFrame(scaler.transform(X_test), columns = X.columns)

In [83]:
X_train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,-0.043776,0.087652,0.465125,-0.853588,0.746709,-1.734420,-0.608452,1.600168,-1.958370,-1.425276,-0.145245,-0.217492,-0.039321,0.288787
1,-1.366824,0.087652,0.326684,-2.147359,-0.809647,0.923371,-0.845751,0.975627,0.393243,0.701618,-0.145245,-0.217492,-0.039321,0.288787
2,-0.558294,0.087652,0.370989,0.181429,-0.420558,-0.405525,-0.845751,-0.897995,0.393243,0.701618,-0.145245,-0.217492,-0.039321,0.288787
3,-1.146316,0.087652,-1.477929,1.216446,-0.031469,0.923371,0.340740,1.600168,0.393243,-1.425276,-0.145245,-0.217492,-1.262746,0.288787
4,2.234807,1.470598,-0.183385,0.181429,-0.420558,-0.405525,1.289933,-0.897995,0.393243,0.701618,-0.145245,-0.217492,0.613171,0.288787

In [86]:
from sklearn.ensemble import RandomForestClassifier

In [87]:
model = RandomForestClassifier()

In [88]:
model.fit(X_train, Y_train)

RandomForestClassifier()

In [89]:
X_test_prediction = model.predict(X_test)

data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [90]:
print('Accuracy:', data_accuracy)

Accuracy: 0.8537185003073141

In [92]:
model=LogisticRegression()

In [93]:
model.fit(X_train, Y_train)

LogisticRegression()

In [94]:
X_test_prediction = model.predict(X_test)

data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [95]:
print('Accuracy:', data_accuracy)

Accuracy: 0.8259577955337021